h1
{
	text-align: center;
}
#links
{
	margin-bottom: 30px;
	text-align: center;
}
table {
    border-collapse: collapse;
    border: 1px solid #999999;
    font-size: 90%;
    margin: 1em 0em 1em 0em;
}
th {
    background: #ffffcc;
    border: 1px solid #999999;
    font-weight: bold;
    color: #545325;
    padding: 0em 0.2em 0em 0.2em;
}

td {
    border: 1px solid #999999;
    padding: 0.1em 0.5em;
    text-align: left;
    vertical-align: top;
}
