h1
{
	text-align: center;
}
#links
{
	margin-bottom: 30px;
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 1px solid #999999;
    font-size: 90%;
    margin: 1em 0em 1em 0em;
}
th {
    background: #ffffcc;
    border: 1px solid #999999;
    font-weight: bold;
    color: #545325;
    padding: 0em 0.2em 0em 0.2em;
}


td {
    border: 1px solid #999999;
    padding: 0.1em 0.5em;
    text-align: left;
    vertical-align: top;
}

td.package {
    font-weight: bold;
    color: black;
    text-align: left;
}
td.package:hover { background: #FFA500; }

td.Never {
    background: #FFFFDD
}

td.Always {
    background: #FFE7BB
}

td.Smart {
    background: #FFFFBB
}

td.sid {
    background: #E7FFFF
}

td.medibuntu {
    background: #DDFFFF
}

td.experimental {
    background: #DDE7FF
}

td.Bleeding {
    background: #F7C87C
}
td.Newer {
    background: #DB92C9
}
td.Backport {
    background: #E6E67A
}
td.OutOfDate {
    background: #FFFF87
}
td.OK {
    background: #CAFF70
}
td.FAILED {
    background: #E0864F
}
td.BUILDING {
    background: #FFCEB5
}
td.WAIT {
    background: #FFDDCC
}
td.DEPWAIT {
    background: #FFBE9E
}
