Source: backporter
Section: devel
Priority: extra
Maintainer: Free Ekanayaka <free@64studio.com>
Build-Depends: cdbs, debhelper (>= 5), python2.6, python-support, xsltproc, docbook-xsl, python-pysqlite2, rebuildd (>= 0.3), python-apt
Standards-Version: 3.7.2

Package: backporter
Architecture: all
Suggests: cowdancer
Recommends: pbuilder, python-gdchart2, python-webpy
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, lsb-base, python-sqlobject, rebuildd (>= 0.3)
Description: scheduler for rebuildd aimed to backporting
 Backports packages from one suite to another
