$def with (page, title=None, hostname="a yellow submarine", dists, dist=None, arch=None, package=None)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/backporter.css" rel="stylesheet" type="text/css" />
    <title>backporter
$if title: - $title\
</title>
  </head>
  <body>
    <h1>backporter on $hostname</h1>

$if title:
    <h2>Status for $title</h2>

    <div id="links">
$for dist in dists:
        <a href="/backport/$dist">[ $dist ]</a>
</div>

    <div id="content">

$:page

    </div>
  </body>
</html>
