$def with (dist, backports, archs, columns)
<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>From</th>
      <th>Bleeding</th>
      <th>Released</th>
      <th>Last Schedule</th>
      $for a in archs:
          <th>$a</th>
    </tr>
  </thead>
  <tbody>
$for b in backports:
    <tr>
    <td id="package">$b.package</td>
    <td id="origin">$b.origin</td>
    <td id="bleeding">$b.target</td>
    <td>$b.released</td>
    <td>$b.backport</td>
    $for a in archs:
        <td>$b.build[a]</td>
    </tr>
  </tbody>
</table>
